@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --todo-color: #5BC0F8;
  --progress-color: #FFC93C;
  --done-color: #03C988;
  --bug: #FF0303;
  --feature: #16FF00;
  --story: #A31ACB;
}